html {
    background-color:rgb(112, 144, 130);
    color:rgb(53, 53, 53);
}

.square-list {
    list-style-type: square;
    color:blue;
}

.letters-list {
    list-style: upper-alpha;
}
    .nav {
        list-style-type: none;
        background-color:rgb(43, 102, 84);
        padding: 30px;
        margin-bottom: 50px;
    }